.jqueryzoom {  width: 350px; height: 350px; position: relative; padding: 0; border:1px solid #ddd; }
.jqueryzoom img { float: left;max-width:350px;max-height:350px;_width:350px; }
.jqueryzoomdiv {z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(../image/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.jqueryzoomdiv .bigimg {width: 800px; height: 800px; }
.jqueryzoomPup { z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
 div.zoomDiv {
            z-index: 99999999999;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 200px;
            height: 200px;
            background: #ffffff;
            border: 1px solid #CCCCCC;
            display: none;
            text-align: center;
            overflow: hidden;
        }

        div.zoomMask {
            position: absolute;
            background: url("../image/mask.png") repeat scroll 0 0 transparent;
            cursor: move;
            z-index: 99999999999;
        }